#pouette {
    background-color: rgb(124, 14, 235);
}

.contrepouette {
    color: rgb(223, 210, 210);
    background-color: red;
}

.container1 {
    background-color: black;
    color: $color;
    border-width: 4px;
    border-style: solid;
    border-color: blue;
}

.itemitem-1 {
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

.itemitem-2 {
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

.itemitem-3 {
    border-width: 2px;
    border-style: solid;
    border-color: white;
}